body{
    background: url('https://img.freepik.com/premium-vector/poster-with-colored-stationery-cartoon-style_689083-149.jpg?w=2000');
}




.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
  text-align: center;
	width: 250px;
  margin: 20px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	font-weight: 500;
	background-color: #000000;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}
.cart {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0 auto;
    padding: 10px;
}

.cart-item {
    width: calc(20% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

h3 {
    margin: 10px 0;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: space-between;
}


.add {
    background-color: #000000;
    margin-left: 5px;
}

.subtract {
    background-color: #000000;
    margin-right: 5px;
}