html{
 max-width:100vw;
}

body{
    max-width: 100vw;
    background: url('https://img.freepik.com/premium-vector/poster-with-colored-stationery-cartoon-style_689083-149.jpg?w=2000');
}


.navbar {
    height: 70px;
}
.logo{
  color: #ff5f5f;
  font-size: 50px;
  text-decoration: none;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 400;
  margin-right: 35px;
}

.navbar-nav{
  font-size: 22px;
}


.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
  text-align: center;
	width: 250px;
  margin: 20px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	font-weight: 500;
	background-color: #000000;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.cart {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0 auto;
    padding: 10px;
}

.cart-item {
    width: calc(20% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

h3 {
    margin: 10px 0;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: space-between;
}


.add {
    background-color: #000000;
    margin-left: 5px;
}

.subtract {
    background-color: #000000;
    margin-right: 5px;
}



.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: rgba(69, 68, 68, 0.504);
    border: none;
}
.listCard .count{
    margin: 0 10px;
}