.main-landing-page {
    position: relative;
    width: 1920px;
    height: 3031px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .main-landing-page .overlap {
    position: absolute;
    width: 1920px;
    height: 1457px;
    top: 681px;
    left: 0;
  }
  
  .main-landing-page .rectangle {
    position: absolute;
    width: 1920px;
    height: 720px;
    top: 0;
    left: 0;
    background-color: var(--primary-bllight);
  }
  
  .main-landing-page .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 240px;
    position: absolute;
    top: 96px;
    left: 142px;
  }
  
  .main-landing-page .group {
    position: relative;
    width: 1431px;
    height: 495px;
  }
  
  .main-landing-page .div {
    position: absolute;
    width: 583px;
    height: 126px;
    top: 0;
    left: 426px;
  }
  
  .main-landing-page .text-wrapper {
    position: absolute;
    top: 0;
    left: 75px;
    font-family: var(--heading-h2-font-family);
    font-weight: var(--heading-h2-font-weight);
    color: var(--bw-4);
    font-size: var(--heading-h2-font-size);
    text-align: center;
    letter-spacing: var(--heading-h2-letter-spacing);
    line-height: var(--heading-h2-line-height);
    white-space: nowrap;
    font-style: var(--heading-h2-font-style);
  }
  
  .main-landing-page .now-shop-st-our {
    position: absolute;
    top: 90px;
    left: 0;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: var(--bw-4);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.48px;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-landing-page .span {
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #2d2d2d;
    font-size: 24px;
    letter-spacing: 0.48px;
    line-height: 36px;
  }
  
  .main-landing-page .group-2 {
    position: absolute;
    width: 1431px;
    height: 327px;
    top: 168px;
    left: 0;
  }
  
  .main-landing-page .group-3 {
    position: absolute;
    width: 274px;
    height: 272px;
    top: 0;
    left: 0;
  }
  
  .main-landing-page .text-wrapper-2 {
    position: absolute;
    top: 198px;
    left: 1px;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: var(--bw-4);
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .p {
    position: absolute;
    top: 242px;
    left: 10px;
    font-family: var(--body-b3-light-font-family);
    font-weight: var(--body-b3-light-font-weight);
    color: #000000;
    font-size: var(--body-b3-light-font-size);
    letter-spacing: var(--body-b3-light-letter-spacing);
    line-height: var(--body-b3-light-line-height);
    white-space: nowrap;
    font-style: var(--body-b3-light-font-style);
  }
  
  .main-landing-page .overlap-wrapper {
    position: absolute;
    width: 270px;
    height: 169px;
    top: 0;
    left: 0;
  }
  
  .main-landing-page .overlap-group {
    position: relative;
    height: 169px;
  }
  
  .main-landing-page .overlap-group-wrapper {
    position: absolute;
    width: 270px;
    height: 129px;
    top: 40px;
    left: 0;
  }
  
  .main-landing-page .overlap-group-2 {
    position: relative;
    height: 129px;
  }
  
  .main-landing-page .ellipse {
    top: 76px;
    left: 0;
    background-color: var(--accentgreen);
    position: absolute;
    width: 270px;
    height: 42px;
    border-radius: 134.96px/21.11px;
    opacity: 0.3;
  }
  
  .main-landing-page .iconoir-delivery {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 0;
    left: 65px;
  }
  
  .main-landing-page .ph-wind-light {
    position: absolute;
    width: 65px;
    height: 70px;
    top: 11px;
    left: 1px;
  }
  
  .main-landing-page .mdi-clock-fast {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 18px;
    left: 181px;
  }
  
  .main-landing-page .fluent-location {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 98px;
  }
  
  .main-landing-page .group-wrapper {
    position: absolute;
    width: 328px;
    height: 271px;
    top: 31px;
    left: 1103px;
  }
  
  .main-landing-page .group-4 {
    position: relative;
    width: 332px;
    height: 271px;
  }
  
  .main-landing-page .text-wrapper-3 {
    position: absolute;
    top: 167px;
    left: 67px;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: var(--bw-4);
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .text-wrapper-4 {
    position: absolute;
    width: 328px;
    top: 211px;
    left: 0;
    font-family: var(--body-b3-light-font-family);
    font-weight: var(--body-b3-light-font-weight);
    color: #000000;
    font-size: var(--body-b3-light-font-size);
    text-align: center;
    letter-spacing: var(--body-b3-light-letter-spacing);
    line-height: var(--body-b3-light-line-height);
    font-style: var(--body-b3-light-font-style);
  }
  
  .main-landing-page .div-wrapper {
    position: absolute;
    width: 270px;
    height: 127px;
    top: 0;
    left: 29px;
  }
  
  .main-landing-page .overlap-group-3 {
    position: relative;
    height: 127px;
  }
  
  .main-landing-page .ellipse-2 {
    position: absolute;
    width: 270px;
    height: 42px;
    top: 85px;
    left: 0;
    background-color: var(--accentblue);
    border-radius: 134.96px/21.11px;
    opacity: 0.3;
  }
  
  .main-landing-page .img {
    position: absolute;
    width: 195px;
    height: 116px;
    top: 0;
    left: 31px;
  }
  
  .main-landing-page .group-5 {
    position: absolute;
    width: 392px;
    height: 294px;
    top: 8px;
    left: 490px;
  }
  
  .main-landing-page .group-6 {
    position: absolute;
    width: 396px;
    height: 104px;
    top: 190px;
    left: 0;
  }
  
  .main-landing-page .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 37px;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: var(--bw-4);
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .we-are-now-accepting {
    position: absolute;
    top: 44px;
    left: 0;
    font-family: var(--body-b3-light-font-family);
    font-weight: var(--body-b3-light-font-weight);
    color: #000000;
    font-size: var(--body-b3-light-font-size);
    text-align: center;
    letter-spacing: var(--body-b3-light-letter-spacing);
    line-height: var(--body-b3-light-line-height);
    font-style: var(--body-b3-light-font-style);
  }
  
  .main-landing-page .group-7 {
    position: absolute;
    width: 302px;
    height: 150px;
    top: 0;
    left: 44px;
  }
  
  .main-landing-page .overlap-group-4 {
    position: relative;
    height: 150px;
  }
  
  .main-landing-page .ellipse-3 {
    top: 108px;
    left: 22px;
    background-color: var(--accentyellow);
    position: absolute;
    width: 270px;
    height: 42px;
    border-radius: 134.96px/21.11px;
    opacity: 0.3;
  }
  
  .main-landing-page .group-8 {
    position: absolute;
    width: 302px;
    height: 118px;
    top: 0;
    left: 0;
  }
  
  .main-landing-page .vector {
    position: absolute;
    width: 2px;
    height: 5px;
    top: 45px;
    left: 353px;
  }
  
  .main-landing-page .group-9 {
    position: relative;
    width: 1641px;
    height: 626px;
    margin-right: -4px;
  }
  
  .main-landing-page .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 637px;
    font-family: var(--heading-h2-font-family);
    font-weight: var(--heading-h2-font-weight);
    color: var(--bw-4);
    font-size: var(--heading-h2-font-size);
    text-align: center;
    letter-spacing: var(--heading-h2-letter-spacing);
    line-height: var(--heading-h2-line-height);
    white-space: nowrap;
    font-style: var(--heading-h2-font-style);
  }
  
  .main-landing-page .text-wrapper-7 {
    position: absolute;
    top: 90px;
    left: 455px;
    font-family: var(--body-b2-light-font-family);
    font-weight: var(--body-b2-light-font-weight);
    color: var(--bw-4);
    font-size: var(--body-b2-light-font-size);
    text-align: center;
    letter-spacing: var(--body-b2-light-letter-spacing);
    line-height: var(--body-b2-light-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-light-font-style);
  }
  
  .main-landing-page .frame-2 {
    display: flex;
    width: 1637px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 224px;
    left: 0;
  }
  
  .main-landing-page .group-10 {
    position: relative;
    width: 352px;
    height: 402px;
  }
  
  .main-landing-page .rectangle-2 {
    position: absolute;
    width: 350px;
    height: 326px;
    top: 0;
    left: 0;
  }
  
  .main-landing-page .text-wrapper-8 {
    position: absolute;
    width: 204px;
    top: 366px;
    left: 0;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: #000000;
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .rectangle-3 {
    position: absolute;
    width: 350px;
    height: 326px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .main-landing-page .text-wrapper-9 {
    position: absolute;
    width: 155px;
    top: 366px;
    left: 0;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: #000000;
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .text-wrapper-10 {
    position: absolute;
    width: 145px;
    top: 366px;
    left: 0;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: #000000;
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .group-11 {
    position: relative;
    width: 352px;
    height: 402px;
    margin-right: -2px;
  }
  
  .main-landing-page .text-wrapper-11 {
    position: absolute;
    width: 284px;
    top: 366px;
    left: 0;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: #000000;
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .overlap-2 {
    position: absolute;
    width: 1921px;
    height: 568px;
    top: 113px;
    left: 0;
  }
  
  .main-landing-page .proj-spec-image {
    position: absolute;
    width: 1921px;
    height: 568px;
    top: 0;
    left: 0;
  }
  
  .main-landing-page .frame-wrapper {
    position: relative;
    width: 1919px;
    height: 568px;
    left: 1px;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .main-landing-page .frame-3 {
    display: flex;
    width: 79px;
    height: 8px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 539px;
    left: 919px;
  }
  
  .main-landing-page .rectangle-4 {
    position: relative;
    width: 29px;
    height: 12px;
    margin-top: -1.86px;
    margin-bottom: -1.86px;
    background-color: var(--bw-3);
    border-radius: 12px;
  }
  
  .main-landing-page .rectangle-5 {
    position: relative;
    width: 29px;
    height: 12px;
    margin-top: -1.86px;
    margin-bottom: -1.86px;
    background-color: var(--bw-2);
    border-radius: 12px;
  }
  
  .main-landing-page .group-12 {
    position: absolute;
    width: 814px;
    height: 292px;
    top: 138px;
    left: 554px;
  }
  
  .main-landing-page .check-out-our-new {
    position: absolute;
    width: 812px;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 42px #000000b2;
    font-family: var(--heading-h1-light-font-family);
    font-weight: var(--heading-h1-light-font-weight);
    color: var(--bw-1);
    font-size: var(--heading-h1-light-font-size);
    text-align: center;
    letter-spacing: var(--heading-h1-light-letter-spacing);
    line-height: var(--heading-h1-light-line-height);
    font-style: var(--heading-h1-light-font-style);
  }
  
  .main-landing-page .common-button-light {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px 48px;
    position: absolute;
    top: 220px;
    left: 289px;
    background-color: var(--bw-1);
    border-radius: 24px;
    border: 2px solid;
    border-color: var(--primary-bl5);
  }
  
  .main-landing-page .button {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: var(--body-b2-light-font-family);
    font-weight: var(--body-b2-light-font-weight);
    color: var(--primary-bl3);
    font-size: var(--body-b2-light-font-size);
    text-align: center;
    letter-spacing: var(--body-b2-light-letter-spacing);
    line-height: var(--body-b2-light-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-light-font-style);
    all: unset;
    box-sizing: border-box;
  }
  
  .main-landing-page .footer {
    position: absolute;
    width: 1920px;
    height: 693px;
    top: 2338px;
    left: 0;
    background-color: transparent;
  }
  
  .main-landing-page .overlap-3 {
    position: relative;
    width: 1920px;
    height: 693px;
  }
  
  .main-landing-page .rectangle-6 {
    position: absolute;
    width: 1920px;
    height: 691px;
    top: 0;
    left: 0;
    background-color: #fffffff2;
  }
  
  .main-landing-page .rectangle-7 {
    position: absolute;
    width: 1920px;
    height: 80px;
    top: 613px;
    left: 0;
    background-color: var(--primary-bl1);
  }
  
  .main-landing-page .group-13 {
    position: absolute;
    width: 597px;
    height: 74px;
    top: 463px;
    left: 120px;
  }
  
  .main-landing-page .UAE-AED-oman-AED {
    position: absolute;
    top: 49px;
    left: 2px;
    opacity: 0.9;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-bl4);
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: normal;
  }
  
  .main-landing-page .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Quicksand-Bold", Helvetica;
    font-weight: 700;
    color: var(--primary-bl4);
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: normal;
  }
  
  .main-landing-page .group-14 {
    position: absolute;
    width: 221px;
    height: 284px;
    top: 96px;
    left: 1581px;
  }
  
  .main-landing-page .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 68px;
    left: 0;
  }
  
  .main-landing-page .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.9;
    font-family: var(--body-b3-light-font-family);
    font-weight: var(--body-b3-light-font-weight);
    color: var(--primary-bl4);
    font-size: var(--body-b3-light-font-size);
    letter-spacing: var(--body-b3-light-letter-spacing);
    line-height: var(--body-b3-light-line-height);
    white-space: nowrap;
    font-style: var(--body-b3-light-font-style);
  }
  
  .main-landing-page .text-wrapper-14 {
    position: relative;
    width: fit-content;
    opacity: 0.9;
    font-family: var(--body-b3-light-font-family);
    font-weight: var(--body-b3-light-font-weight);
    color: var(--primary-bl4);
    font-size: var(--body-b3-light-font-size);
    letter-spacing: var(--body-b3-light-letter-spacing);
    line-height: var(--body-b3-light-line-height);
    white-space: nowrap;
    font-style: var(--body-b3-light-font-style);
  }
  
  .main-landing-page .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--body-b2-font-family);
    font-weight: var(--body-b2-font-weight);
    color: var(--primary-bl4);
    font-size: var(--body-b2-font-size);
    letter-spacing: var(--body-b2-letter-spacing);
    line-height: var(--body-b2-line-height);
    white-space: nowrap;
    font-style: var(--body-b2-font-style);
  }
  
  .main-landing-page .group-15 {
    position: absolute;
    width: 211px;
    height: 284px;
    top: 96px;
    left: 1232px;
  }
  
  .main-landing-page .group-16 {
    position: absolute;
    width: 282px;
    height: 247px;
    top: 96px;
    left: 812px;
  }
  
  .main-landing-page .group-17 {
    position: absolute;
    width: 280px;
    height: 179px;
    top: 68px;
    left: 0;
    opacity: 0.9;
  }
  
  .main-landing-page .group-18 {
    position: relative;
    width: 282px;
    height: 179px;
  }
  
  .main-landing-page .element {
    position: absolute;
    width: 239px;
    top: 0;
    left: 41px;
    font-family: var(--body-b2-light-font-family);
    font-weight: var(--body-b2-light-font-weight);
    color: var(--primary-bl4);
    font-size: var(--body-b2-light-font-size);
    letter-spacing: var(--body-b2-light-letter-spacing);
    line-height: var(--body-b2-light-line-height);
    font-style: var(--body-b2-light-font-style);
  }
  
  .main-landing-page .group-19 {
    position: absolute;
    width: 25px;
    height: 167px;
    top: 8px;
    left: 0;
  }
  
  .main-landing-page .text-wrapper-16 {
    position: absolute;
    top: 639px;
    left: 116px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: #ffffffcc;
    font-size: var(--other-caption-font-size);
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    white-space: nowrap;
    font-style: var(--other-caption-font-style);
  }
  
  .main-landing-page .text-wrapper-17 {
    position: absolute;
    top: 640px;
    left: 1197px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: var(--primary-bl5);
    font-size: var(--other-caption-font-size);
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    white-space: nowrap;
    font-style: var(--other-caption-font-style);
  }
  
  .main-landing-page .group-20 {
    position: absolute;
    width: 163px;
    height: 26px;
    top: 487px;
    left: 1638px;
  }
  
  .main-landing-page .text-wrapper-18 {
    position: absolute;
    top: 653px;
    left: 1519px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-bl5);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .main-landing-page .text-wrapper-19 {
    position: absolute;
    top: 653px;
    left: 1590px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-bl5);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .main-landing-page .text-wrapper-20 {
    position: absolute;
    top: 653px;
    left: 1732px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-bl5);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .main-landing-page .group-21 {
    position: absolute;
    width: 25px;
    height: 17px;
    top: 634px;
    left: 1520px;
  }
  
  .main-landing-page .vector-2 {
    position: absolute;
    width: 31px;
    height: 24px;
    top: 630px;
    left: 1610px;
  }
  
  .main-landing-page .group-22 {
    position: absolute;
    width: 106px;
    height: 27px;
    top: 629px;
    left: 1693px;
  }
  
  .main-landing-page .group-23 {
    position: absolute;
    width: 578px;
    height: 175px;
    top: 200px;
    left: 120px;
  }
  
  .main-landing-page .text-wrapper-21 {
    position: absolute;
    width: 552px;
    top: 52px;
    left: 0;
    opacity: 0.9;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: var(--primary-bl4);
    font-size: var(--other-caption-font-size);
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    font-style: var(--other-caption-font-style);
  }
  
  .main-landing-page .overlap-group-5 {
    position: absolute;
    width: 572px;
    height: 67px;
    top: 108px;
    left: 0;
  }
  
  .main-landing-page .rectangle-8 {
    position: absolute;
    width: 498px;
    height: 66px;
    top: 0;
    left: 0;
    background-color: var(--bw-1);
    border-radius: 15px;
  }
  
  .main-landing-page .text-wrapper-22 {
    position: absolute;
    width: 181px;
    top: 20px;
    left: 24px;
    font-family: var(--body-b3-font-family);
    font-weight: var(--body-b3-font-weight);
    color: var(--bw-3);
    font-size: var(--body-b3-font-size);
    letter-spacing: var(--body-b3-letter-spacing);
    line-height: var(--body-b3-line-height);
    font-style: var(--body-b3-font-style);
  }
  
  .main-landing-page .common-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px 48px;
    position: absolute;
    top: 1px;
    left: 359px;
    background-color: var(--primary-bl1);
    border-radius: 16px;
    all: unset;
    box-sizing: border-box;
  }
  
  .main-landing-page .text-wrapper-23 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-Bold", Helvetica;
    font-weight: 700;
    color: var(--bw-1);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.48px;
    line-height: normal;
  }
  
  .main-landing-page .text-wrapper-24 {
    position: absolute;
    width: 470px;
    top: 122px;
    left: 186px;
    font-family: "Abril Fatface-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0.72px;
    line-height: 11.5px;
    white-space: nowrap;
  }
  
  .main-landing-page .message-button {
    position: fixed;
    width: 113px;
    height: 108px;
    top: 938px;
    left: 1738px;
  }
  
  .main-landing-page .cart-selection-area {
    position: fixed;
    width: 156px;
    height: 54px;
    top: 27px;
    left: 1715px;
    background-color: var(--primary-bllight);
  }
  
  .main-landing-page .menu-bar {
    position: fixed;
    width: 2090px;
    height: 212px;
    top: 0;
    left: -85px;
  }
  
  .main-landing-page .overlap-4 {
    position: relative;
    height: 212px;
  }
  
  .main-landing-page .foldable-sub-menu {
    display: flex;
    width: 2090px;
    height: 101px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 93px;
    position: absolute;
    top: 111px;
    left: 0;
  }
  
  .main-landing-page .group-24 {
    position: relative;
    width: 2090px;
    height: 60px;
    margin-top: -26px;
    margin-bottom: -26px;
  }
  
  .main-landing-page .vector-wrapper {
    position: relative;
    width: 1920px;
    height: 62px;
    top: 26px;
    left: 85px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
  }
  
  .main-landing-page .vector-3 {
    position: absolute;
    width: 12px;
    height: 6px;
    top: 15px;
    left: 954px;
  }
  
  .main-landing-page .MAIN-BAR {
    position: absolute;
    width: 1920px;
    height: 134px;
    top: 0;
    left: 85px;
  }
  